@charset "UTF-8";

body{
    background-color: #2659FE;
  }

p{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: large;
    margin-left: 10vw;
  }

header > h1{
  background-color: aliceblue;
  width: 60vh;
  margin-left: 10vw;
}

nav{
  background-color: #1D1257;
  height: 98vh;
  width: 170px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

nav > div {
  background-color: white;
  margin-top: 2vh;
  width: 160px;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

nav > div > a{
  color: black;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.botao:hover{
  background-color: rgb(255, 139, 139);
}

.BarraDeFerramentas > h1{
  color: white;
  margin: 0;
  font-size: 38px;
  font-weight: 200;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pagina {
  background-color: #1D1257;
  min-height: 150px;
  width: 1000px;
  margin: auto;
  border-radius: 10px;
  position: relative;
}

.titulo{
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.titulo > h1{
  color: black;
  margin: 0;
  font-size: 38px;
  font-weight:lighter;
  margin-left: 50px;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  align-items: center; 
}

.minimenu {
  background-color: white;
  border-radius: 5px;
  font-family: sans-serif;
  margin-bottom: 10px;
  flex-direction: row;
  align-items: center;
  display: flex;
}

.minimenu > h2 {
  margin-left: 25px;
}

.minimenu > button {
  margin-left: auto;
  margin-right: 25px;
  border: none;
  width: 60px;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
}

.minimenu > button:hover{
  background-color: rgba(144, 171, 196, 0.581);
}

.adicionar{
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  position: absolute;
  border: none;
  border-radius: 10px;
  background-color: #39D546;
  color: white;
  font-size: 50px;
}

.adicionar:hover{
  background-color: #279230;
  cursor: pointer;
}

.PaginaDoCaixa{
  background-color: #1D1257;
  height: 98vh;
  width: 1000px;
  margin: auto;
  border-radius: 10px;
  position: relative;
}

.BotaoDeIniciarCarrinho{
  width: 400px;
  height: 180px;
  position: absolute;
  border-radius: 10px;
  border: 5px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #39D546;
  color: black;
  font-size: 50px;
  cursor: pointer;
}

.BotaoDeIniciarCarrinho:hover{
  background-color: #279230;
}

.PaginaDoCarrinho{
  background-color: #BCCAF8;
  min-height: 350px;
  width: 1000px;
  margin: auto;
  border-radius: 10px;
  position: relative;
  justify-content: flex-end;
}

.lista{
  background-color: white;
  border-radius: 10px;
  width: 350px;
  min-height: 50px;
  position: absolute;
  right: 10px;
}

.lista > h2{
  top: 10px;
  margin-left: 25px;
  font-family: sans-serif;
}

.subtitulo{
  width: 500px;
  margin-left: 10px;
}

.BarraDePesquisa{
  margin-left: 10px;
  width: 300px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid black;
}

.BotaoDePesquisar{
  background-color: #31c1ff;
  height: 35px;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
}

.BotaoDePesquisar:hover{
  background-color: #2594c3;
}

.CamposeBotoes{
  flex-direction: column;
  display: flex;
  width: 600px;
}

.BotaoDeAdicionarNoCarrinho{
  background-color: #31c1ff;
  height: 35px;
  width: 70px;
  margin-left: 10px;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
}

.BotaoDeAdicionarNoCarrinho:hover{
  background-color: #3598c3;
}

.CamposeBotoes > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.CamposeBotoes > div > h3{
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.FormaDePagamento{
  margin-left: 10px;
  margin-top: 10px;
}

.FormaDePagamento > select{
  border: none;
  border-radius: 5px;
}

.RecebidoeTroco{
  margin-left: 10px;
  margin-top: 10px;

}

.RecebidoeTroco > input{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.RecebidoeTroco > div{
  margin-left: 10px;
}

.CancelareFinalizar{
  align-items: center;
  justify-content: center;
}

.CancelareFinalizar > button{
  height: 100px;
  width: 200px;
  margin-left: 10px;
  border-radius: 10px;
  border: 5px solid black;
  color: black;
  font-size: 30px;
  cursor: pointer;
}

.BotaoDeCancelar{
  background-color: red;
}

.BotaoDeCancelar:hover{
  background-color: rgb(149, 1, 1);
}

.BotaoDeFinalizarVenda{
  background-color:#39D546;
}

.BotaoDeFinalizarVenda:hover{
  background-color:#258d2e;
}